[user]
	email = philip.d.stewart@gmail.com
	name = sodoku
[core]
	excludesfile = /home/sodoku/.gitignore_global
	editor = vim
[color]
	ui = auto
[alias]
  lol = log --graph --decorate --oneline
  lola = log --graph --decorate --oneline --all
  s = status
  c = commit
[giggle]
	main-window-maximized = true
	main-window-geometry = 0x0+0+0
	file-view-vpane-position = 659
	history-view-vpane-position = 429
	main-window-view = HistoryView
